{% extends 'base.html' %}


{% block status %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">


            <table class="table table-bordered text-center">
                <thead>
                <tr>
                    <th scope="col">Service</th>
                    <th scope="col">Check type</th>
                    <th scope="col">Status</th>
                </tr>
                </thead>

                <tbody>
                {% for row in content %}
                <tr>
                    <td class="text-left">{{ row["resource-id"] }}</td>
                    <td>{{ row["resource-type"] }} [{{ row["property"] }}]</td>
                    <td>
                        {% if row["successful"] == True %}
                        <i class="fas fa-check-circle fa-2x green-text "></i>
                        {% else %}
                        <i class="fas fa-times-circle fa-2x red-text"></i>
                        {% endif %}

                    </td>
                </tr>
                {% endfor %}

                </tbody>


            </table>
        </div>
        <div class="col-md-3">
        </div>

    </div>
</div>


{% endblock %}
