[mysqld]
read_only=ON
log_bin=mysql-bin
binlog_format=ROW
log_slave_updates=true
skip-slave-start
gtid_mode=ON
enforce_gtid_consistency=ON
master_info_repository = TABLE
relay_log_info_repository = TABLE
